body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
}
.logo {
    width: 150px;
    --logo-height: 200px;
    margin: 10px auto;
    display: block;
    float: left;
    border-radius: 15px;
}
.title {
    text-align: center;
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    padding-top: 12px;
    /*padding-top: calc(var(--logo-height) / 2);*/
}
.bar {
    background: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: left;
    border-radius: 15px;
}
nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav a:hover {

}
.search-bar {
    margin-right: 20px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.search-bar form {
    position: relative;
    display: flex;
    align-items: center;
}
.search-bar i {
    position: absolute;
    left: 7px;
    color: darkgray;
}
.search-bar input {
    padding: 5px 5px 5px 30px; /* left padding for icon space */
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/*.search-button {*/
/*    padding: 5px 10px;*/
/*    margin-left: 10px;  !* Adds space between the input and the button *!*/
/*    border-radius: 5px;  !* Optional: add rounded corners for the button *!*/
/*    border: none;*/
/*    color: white;  !* White text on the button *!*/
/*    cursor: pointer;*/
/*}*/
.book-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.book {
    border: 1px solid #000;
    padding: 15px;
    background: white;
    border-radius: 5px;
    width: 200px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.description {
    margin: 20px auto;
    max-width: 600px;
    font-size: 18px;
}
.form-container {
    display: inline-block;
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}
button {
    background: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
}
input, textarea { display: block;
    width: calc(100% - 20px);
    margin: 5px 0;
    padding: 10px;
}
footer {
    margin-top: 50px;
    font-size: 14px;
    color: #777;
    text-align: center;
    padding: 20px 0;
}